body{
    background-size: cover;

}
.heading{
font-size: 23px;
width: 100%;
margin: 0px;
}
.note{
    font-size: 15px;
    color: black;
  
}
.div-speed{
    float: left;
}
.speed_img, .volume_img{
    width: 200px;
    border-radius: 100px;
}
#speed, #volume{
    font-size: 23px;
    margin: 15px;
}
.div-volume{
    float: right;
}
.play-button{
    width: 370px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px white;
}